<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
</head>
<body>
  <form action="/change-password" method="POST">
    <input placeholder="TOKEN" type="text" value="token" name="token">
    <input placeholder="PASSWORD" type="text" value="password1" name="newPassword">
    <input placeholder="PASSWORD" type="text" value="password1" name="confirmPassword">
    <button type="submit">Change Password</button>
  </form>
</body>
</html>